.post {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 6px;
  padding: 8px 16px;
  box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.2s ease-in;
  background-color: #fff;
  cursor: pointer;
  box-sizing: border-box;
  &:hover {
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
  }
  .post-title {
    height: 36px;
    font-family: Verdana, Tahoma, sans-serif;
  }
}
