.edit-form {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  p:first-child {
    margin-top: 0;
  }
}
.dialog-actions {
  position: absolute;
  bottom: 0;
  right: 0;
  .confirm-button {
    padding: 4px 16px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    color: whitesmoke;
    background-color: #1976d2;
    cursor: pointer;
  }
}
